## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.csproj.user

## JetBrains Rider
.idea/
*.sln.iml

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
*.nupkg
**/packages/*

## Unity
Library/
Temp/
*.csproj
*.unityproj
*.sln
*.pidb
*.pdb

## OS generated
.DS_Store
Thumbs.db
